@tailwind base;
@tailwind utilities;

:root {
  font-size: 16px;
}

.dark {
  --color-base-1: rgb(25, 29, 36);
  --color-base-2: rgb(35, 39, 47);
  --color-base-3: rgb(42, 48, 60);
  --color-base-4: rgb(17, 19, 24);
  --color-base-content: rgb(195, 209, 238);
  --color-primary: rgb(248, 97, 180);
  --color-primary-content: rgb(80, 3, 35);
  --color-secondary: rgb(113, 209, 254);
  --color-secondary-content: rgb(4, 46, 73);
  --color-muted: rgb(18, 11, 61);
  --color-muted-content: rgb(199, 208, 255);
  --color-neutral: rgb(58, 66, 86);
  --color-neutral-content: rgb(230, 234, 243);
}
